# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore SQLite database
db.sqlite3

# Ignore virtual environment
venv/

# Ignore Django migrations
**/migrations/*.py

# Ignore log files
*.log

# Ignore local settings (if any)
*.env

# Ignore coverage reports
.coverage

# Ignore .idea (IDE files)
.idea/

# Ignore Docker files (optional, if you don't want them in the repo)
Dockerfile
docker-compose.yml
